{% extends 'base.html.twig' %}

{% block title %}Hello StatementController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        html,
        body {
            height: 100%
        }
    </style>
{% endblock %}
{% block body %}
<div class="h-100 row" align="center">
    <div class="col">
        TEXT
    </div>
</div>

{% endblock %}
