<footer class="app-footer">
    <div class="container text-end py-3">
        <small class="copyright">&copy;2021
{#            з <a class="app-link" href="{{ path('homepage') }}" target="_self"><i class="fas fa-heart" style="color: #fb866a;"></i></a> для землекористувачів#}
        </small>

    </div>
</footer><!--//app-footer-->
