{% extends 'base.html.twig' %}

{% block title %}Hello StatementController!{% endblock %}

{% block body %}
    {% for developmentApplication in developmentApplications %}
        <a href="{{ path('statement.update', {id: developmentApplication.id}) }}">{{ developmentApplication.id }}</a>
        {% if developmentApplication.solution.number is defined %}
            {{ developmentApplication.solution.number }}
        {% endif %}
        {{ developmentApplication.createdAt | date("m/d/Y") }}
    {% endfor %}
{% endblock %}
