<input type="radio" id="formGovCheck" name="formTypeCheck" checked="checked">
<label for="formGovCheck">Говермент</label>
{{ form(formGov) }}
<input type="radio" id="formCheck" name="formTypeCheck">
<label for="formCheck">Local</label>
{{ form(form) }}


