<button type="button"
        id="dr_save" value="{{ drawnArea.id }}"
        class="btn btn-primary swal2-success swal2-styled
               {% if workflow_has_marked_place(drawnArea, 'published') or workflow_has_marked_place(drawnArea, 'archived') %}
                d-none
                {% endif %}
                ">Зберегти
</button>

<button type="button"
        id="dr_drop" value="{{ drawnArea.id }}"
        class="btn btn-warning swal2-warning swal2-styled
                {% if ((drawnArea.id is null) or (workflow_can(drawnArea, 'to_archive')) or workflow_has_marked_place(drawnArea, 'archived')) %}
                d-none
                {% endif %}
                ">Видалити
</button>

<button type="button" class="btn btn-success swal2-success swal2-styled
                {% if (drawnArea.id is null) or workflow_can(drawnArea, 'to_archive') or workflow_has_marked_place(drawnArea, 'archived') %}
                d-none
                {% endif %}
            " id="dr_publ"
>До ПКК
</button>


<button type="button" class="btn btn-danger
                {% if not workflow_has_marked_place(drawnArea, 'published') %}
                 d-none
                {% endif %}
                " id="dr_arch" value="{{ drawnArea.id }}"
>В архів
</button>
