<button type="button"
        id="dr_save" value="{{ drawnArea.id }}"
        class="swal2-styled swal2-deny
               {% if workflow_has_marked_place(drawnArea, 'published') or workflow_has_marked_place(drawnArea, 'archived') %}
                d-none
                {% endif %}
                ">Зберегти
</button>

<button type="button"
        id="dr_drop" value="{{ drawnArea.id }}"
        class="swal2-styled swal2-deny
                {% if ((drawnArea.id is null) or (workflow_can(drawnArea, 'to_archive')) or workflow_has_marked_place(drawnArea, 'archived')) %}
                d-none
                {% endif %}
                ">Видалити
</button>

<button type="button" class="swal2-deny swal2-styled
                {% if (drawnArea.id is null) or workflow_can(drawnArea, 'to_archive') or workflow_has_marked_place(drawnArea, 'archived') %}
                d-none
                {% endif %}
            " id="dr_publ"
>Відобразити на ПКК
</button>


<button type="button" class="swal2-deny swal2-styled
                {% if not workflow_has_marked_place(drawnArea, 'published') %}
                 d-none
                {% endif %}
                " id="dr_arch" value="{{ drawnArea.id }}"
>В архів
</button>
