{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Щось зламано.</h1>

        <p>
            Будь ласка, повідомте нам, що ви робили, коли сталася ця помилка.
            Ми виправимо це якнайшвидше.
        </p>

        <p>
            Вибачте за завдані незручності.
        </p>
    </div>
{% endblock %}