<h1>Відмова у реєстрації</h1>

<p>
    Ваша Заява розглянута.
    У доступі до програмного модуля для створення графічного зображення орієнтовного місця розташування земельної ділянки <b>відмовлено</b>.

</p>

<p>
    Технічна підтримка порталу
</p>
