<h1>Підтвердження реєстрації</h1>

<p>
    Ваша Заява розглянута.
    Доступ до програмного модуля для створення графічного зображення орієнтовного місця розташування земельної ділянки <b>надано</b>
</p>

<p>
    Технічна підтримка порталу
</p>
