<h1>Нова реєстрація</h1>

<p>
    Прошу Вас розглянути Заяву про надання доступу до програмного модуля для створення графічного зображення орієнтовного місця розташування земельної ділянки.
    Уповноважена особа: {{ user.email }}
</p>

<p>
    Технічна підтримка порталу
</p>
